<%- include('./header.ejs') %>
<link href="css/about.css" rel="stylesheet">


<div class="margin-top:200px">
   <center> <h1 class="font-size:100px" >ABOUT!!</h1></center>




    <p class="mt-2">Online education is one of the major changes in the global education industry after COVID hits the country. The internet is used for this type of learning. This form of learning has been made easier with new and improved technologies. Higher education institutions favour online learning as well. In short and extended articles about online education, this article will inform students of its benefits and outcomes.<br>
        ducation spans a range more than just attending classes and reading books to learn things. It exceeds all restrictions. Learning extends beyond the pages of a book. We are fortunate to live in a time where learning is accessible online. Yes! We can educate our kids and ourselves while sitting in our own homes. Online education is a good option for doing this. All needy kids who are unable to enroll in local schools now have access to education thanks to online learning.</p>
</div>


<div class="a">
    <marquee direction="" scrollamount="2">
       <h3>OUR STUDENTS</h3>
    </marquee>
</div>

<marquee scrollamount="5">

    <img src="https://www.itmgoi.in/assets2/images/Sonam_Gupta.jpg"class="b">
    <img src="https://www.itmgoi.in/assets2/images/Shreya_Seth.jpg"
        class="b">
    <img src="https://www.itmgoi.in/assets2/images/Garima_Arora.jpg"
        class="b">
    <img src="https://www.itmgoi.in/assets2/images/Abhishek_Rai.jpg"
        class="b">
    <img src="https://www.itmgoi.in/assets2/images/Chandan_Bedi.jpg"
        class="b">
    <img src="https://www.itmgoi.in/assets2/images/Manu_Shrivastava.jpg" class="b">

</marquee>






<%- include('./footer.ejs') %>