<%- include('./header.ejs') %>
<div class="t"></div>
<link rel="stylesheet" href="css/contact.css">
<div class="contact">

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="h"><br><b>SEND US MESSAGE</b></h4>
                <form>
                    <div class="mb-3">
                        <label>Name:</label>
                        <input type="text" class="form-control" required>

                    </div>

                    <div class="mb-3">
                        <label>City:</label><br>
                        <input type="text" name="form-control" required>
                        
                    </div>
                    <div class="mb-3">
                        <label>Email:</label>
                        <input type="email" class="form-control">

                    </div>
                    <div class="mb-3">
                        <label>Phone number</label><br>
                        <input type="number" name="form-control">

                    </div>
                    <div class="mb-3">
                        <label>Message</label>
                        <textarea class="form-control"></textarea>

                    </div>
                    <button class="btn btn-info"style="color:#ffffff;background-color: #ab141cd8; margin-left:100px">SUBMIT</button>

                </form>
            </div>
            <div class="col-md-5" style="padding-left: 40px;">
                   <h4 class="h"><br><b>CONTACT INFORMATION</b> </h4>
                   <strong style="color: #ab141cd8;"><b style="font-size:20px">Address</b></strong>
                   <p class="p1"></p>Sithouli, Shivpuri link road Gwalior(M.P)</p><br>

                   <strong style="color: #ab141cd8;"><b style="font-size:20px">For Contact info.</b></strong></strong>
                   <p class="p1"> Mobile: <strong style="color: #ab141cd8;">+00076533</strong>
                   <br>Email:<strong style="color:#ab141cd8;">  itmgwalior@gmail.com</strong></p><br>
                   <!-- <strong style="color: #143171;"><b style="font-size:20px">For Plant Enquiry</b></strong>
                   <p class="p1">Mobile: <strong style="color: #143171;">9826648478</strong> -->
                   <!-- <br>Email:<strong style="color:#ab141cd8;"> itmitm01@gmail.com</strong></p> -->
                   <strong style="color: #ab141cd8;"><b style="font-size:20px">For Other Enquiry</b></strong>
                   <p class="p1">Phone: <strong style="color: #ab141cd8">0751-2340098</strong>
                   <br>Email:<strong style="color: #ab141cd8;">gwalior@gmail.com </strong>
                   <br>Open: Monday - Saturday<br> 10:30 a.m-5:30 p.m</p>
                   
                    
            </div></div>
        </div>
    </div>
</div>


 

<%- include('./footer.ejs') %>