*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
/* .bg{
    background-image: url("/image/profilebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;

} */
.contact{
    background-color: rgb(251, 208, 177);
}
.t{
    background-color: rgb(251, 208, 177);
    height: 100px;
}