<%- include('../header.ejs') %>

<h1 class="mt-5">Edit Data</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <form action="/courseupdate/<%= edit._id %>" method="post">
                <div class="mb-3">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" value="<% edit.name %>" required>
                </div>

                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" placeholder="Enter Email" name="email" class="form-control" value="<% edit.email %>">
                </div>

                <div class="mb-3">
                    <label>Phone no.</label>
                    <input type="number" name="phone" class="form-control" value="<% edit.phone %>" >
                </div>

                <div class="mb-3">
                    <label>10th Marks</label>
                    <input type="number" name="tenth" class="form-control" value="<% edit.tenth %>">
                </div>

                <div class="mb-3">
                    <label>12th Mark</label>
                    <input type="number" name="twelth" class="form-control" value="<% edit.twelth %>">
                </div>

                <div class="mb-3">
                    <label>Course</label>
                    <input type="text" name="course" value="Btech" class="form-control" readonly>
                </div>
                <button type="submit">Submit</button>
            </form>
<!-- form -->
        </div>
        <div class="col-md-4">


        </div>

    </div>
    </div>

<%- include('../footer.ejs') %>
